@charset "UTF-8";
#TPS_Head {
	position:relative;left:225px; width:380px;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #060;
	padding:10;
	
}

#Logo {
	position:absolute;;top:40px; left:25px; width:100px;
	color: #060;
	padding:10;
	
}

#Menue {  position:relative;left:225px; width:400px;  }

#Content {
	position:relative;
	top:5px;
	left:10px;
	width:780px;
	background-color:#FFFFFF;
	padding:10;
}

#Form {
	position:relative;
	top:5px;
	left:225px;
	width:380px;
	background-color:#9FF;
	padding:10;
}
#Messages {
	position:relative;
	top:5px;
	left:225px;
	width:380px;
	background-color:#F1FFEE;
	padding:10;
}

.yui-skin-sam .yui-menu-shadow-visible {
	  background-color:#000000;
	  opacity:.25;
}
	
.yui-menu-shadow-visible {
	top:2px;
	right:-3px;
	left:-3px;
	bottom:-3px;
}

.yui-skin-sam .yuimenuitem-selected {
	background-color:#b3d4ff;
}		

.yui-skin-sam .yuimenuitemlabel {
	color:#000000;
}

.yui-skin-sam .yuimenuitemlabel-disabled {
	color:#a6a6a6;
}

.yui-skin-sam .yuimenu {
	font-size:12px;
}

.yui-skin-sam .yuimenu .bd {
	background-color: #ffffff;
	border: solid 1px #808080;
}	

input, textarea {
		border:1px solid #000;
		background-color:#fff;
}

.validation-failed { /* for textboxes, textareas, passwords */
		border:1px dashed #F33;
		background-color:#FCC;
}

.validation-failed-cr { /* for checkboxes and radios */

}

.validation-failed-sel { /* for selects */

}

.validation-passed { /* for textboxes, textareas, passwords */
		border:1px solid #6C6;
		background-color:#CFF;
}

.validation-passed-cr { /* for checkboxes and radios */

}

.validation-passed-sel { /* for selects */

}

.button {
		border:1px solid #0B5C8B;
		background-color:#0B80CD;
		color:#fff;
}

#warning {
		color:#F00
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 35px; }
.ui-timepicker-div td { font-size: 60%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
